services:
  - type: web
    name: friendv4-server
    env: node
    plan: free
    buildCommand: pnpm install && cd server && pnpm build
    startCommand: cd server && pnpm migrate:deploy && pnpm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: FRONTEND_URL
        sync: false
    autoDeploy: false
